<div class="vertical">
  <div id="main-box">

    <div class="authBlock text-center">
      <h3> <strong>Forgot Password</strong></h3>

      <div class="formGroup" style="padding: 20px;">
        <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <div class="formGroup" style="margin-right: 80px; margin-left: 80px;">
        <input type="submit" class="btn btn-primary btn-block" value="Reset Password"
          (click)="ngAuthService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

  </div>
</div>
