 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mx-auto" padding="10px" style="margin-bottom: 5px; margin-top: 5px;" >
    Bienvenido a su biblioteca virtual
  </a>
 </nav>
 
 <nav class="navbar navbar-light navbar-laravel">
      <a class="navbar-brand" href="#" >
        <img src="/assets/imagenes/imag1.png" class="imagenIni" style="margin-left: 20px;" alt=""/>
        Biblioteca MAOC
      </a>
</nav>
 <div class="container-fluid mask bg-image p-5">
  <router-outlet></router-outlet>
 </div>
 

